.content.main-page-content {
    background-color: #f0f5ff;
    width: 100%;
    margin-top: 120px;
}

.main-page-content .products-navbar {
    margin: 0 2%;
    width: 96%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-page-content .products-navbar .fa-bars {
    padding-top: 5px;
    margin-right: 10px;
}

.products-navbar>.dropdown {
    position: relative;
    margin: 2vw calc(10px + 0.5vw);
}

.products-navbar>.dropdown>button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 12px;
}

.products-navbar>.dropdown>button>i {
    display: inline-block;
    font-size: 10px;
    color: #aaa;
    line-height: 100%;
    margin-left: 5px;
    transition: transform 0.5s;
}

.products-navbar>.dropdown>.options {
    position: absolute;
    left: 0px;
    display: none;
    font-size: 15px;
    cursor: pointer;
    z-index: 10;
    padding-top: 10px;
}

.products-navbar>.dropdown>.options>* {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: #bbb;
}

.products-navbar>.dropdown>.options>*:hover {
    background-color: #888;
    color: white;
}

.products-navbar>.dropdown>button:focus~.options, .products-navbar>.dropdown:hover>.options, .products-navbar>.dropdown>.options:hover {
    display: block;
}

.products-navbar>.dropdown>button:focus>i, .products-navbar>.dropdown:hover>button>i {
    transform: rotateX(180deg);
}

.main-page-content .proposals-container {
    width: 95%;
    margin: auto;
    height: calc(700px - 15vw);
    z-index: 1;
}

.main-page-content .proposals-wrapper {
    overflow: hidden;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 50px);
    display: block;
}

.main-page-content .proposals {
    transition: left 0.5s;
    height: 100%;
    position: relative;
    width: 90vw;
    display: flex;
}

.main-page-content .proposals>div {
    background-color: #e5e5ff;
    height: 100%;
    box-sizing: border-box;
    min-width: 95vw;
    display: block;
    padding: 0px calc(2vw + 40px);
    overflow: hidden;
    z-index: 10;
}

.main-page-content .proposals .know-more {
    background-color: #12d;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.main-page-content .proposals .know-more:hover {
    background-color: #12f;
    cursor: pointer;
}

.main-page-content .proposals img {
    float: right;
    object-fit: contain;
    width: 200px;
    mix-blend-mode: multiply;
}

.proposals-container .arrows {
    height: 0px;
    width: 100%;
    display: flex;
    top: calc(50% - 25px);
    position: relative;
    align-items: center;
    z-index: 100;
}

.proposals-container i, .scrolling-bar i {
    display: block;
    background-color: white;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #aaaaaa;
    transform: scaleX(0.8);
}

.arrows i:hover {
    background-color: #333355;
    color: white;
}

.proposals-container>.arrows i.fa-chevron-right {
    margin-left: auto;
}

.proposals-container .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.proposals-container .dots>div {
    display: inline-block;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #bbb;
    margin: 0px 5px;
}

.proposals-container .dots>div.active {
    background-color: #12f;
}

.main-page-content .content-title {
    background-color: #e5e5ff;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.main-page-content .content-subtitle {
    margin: 40px;
    margin-left: 100px;
}

.scrolling-bar {
    flex: 0;
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto;
    padding: 0;
    height: 230px;
    border: 1px solid #0002;
    background-color: white;
    overflow: none;
}

.scrolling-bar .cards-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scrolling-bar .cards {
    display: flex;
    width: 100%;
    height: 228px;
    background-color: white;
    transition: margin-left 0.5s;
}

.scrolling-bar .cards-wrapper, .scrolling-bar, .scrolling-bar .cards {
    border-radius: 10px;
}

.scrolling-bar.scrolling-bar-separated {
    background-color: transparent;
    border: none;
    padding: 0;
}

.scrolling-bar.scrolling-bar-separated .cards {
    background-color: transparent;
}

.scrolling-bar .arrows {
    position: relative;
    z-index: 10;
    height: 0;
    display: flex;
    width: calc(90vw + 4px);
    align-items: center;
    top: 50%;
    left: -10px;
}

.scrolling-bar.scrolling-bar-separated .arrows {
    width: calc(90vw + 4px);
    left: calc(-10px);
}

.scrolling-bar .arrows>i {
    border-radius: 50%;
    box-shadow: #cccccc 0px 3px 5px;
}

.scrolling-bar .arrows i.fa-chevron-right {
    margin-left: auto;
}

.scrolling-bar .card {
    margin: 30px 15px
}

.scrolling-bar.scrolling-bar-separated .card {
    background-color: white;
    border-radius: 10px;
    height: 190px;
    padding: 20px;
    margin: 0 10px 0 0;
}

.scrolling-bar .card img {
    width: 130px;
    height: 130px;
    mix-blend-mode: multiply;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: -4px;
}

.scrolling-bar .card .image-wrapper {
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 0;
    margin-top: 10px;
    background-color: white;
}

.scrolling-bar.scrolling-bar-separated .card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.scrolling-bar .card p {
    text-align: center;
    padding: 10px;
    margin: 0;
}

.scrolling-bar .card.category-card p {
    text-align: left;
    font-size: 20px;
}

.scrolling-bar .card.category-card a {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
    box-shadow: 0 0 10px #aaaaaa;
    box-shadow: #aaaaaa solid 0 0 10px;
    background-color: white;
    cursor: pointer;
}

.scrolling-bar .card.category-card a:hover {
    background-color: #0008;
    color: white
}

.main-page-content>.know-more {
    box-sizing: border-box;
    background-color: #ddeeff;
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
    padding: 30px 30px 10px 30px;
}

.main-page-content>.know-more>div {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.main-page-content>.know-more>p {
    font-size: 10px;
    background-color: #ffeedd;
    display: inline;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: auto;
}

.main-page-content>.know-more h2 {
    display: inline;
    margin: 0;
}

.main-page-content>.know-more button {
    white-space: nowrap;
    margin-left: auto;
    font-size: 17px;
    background-color: #2222aa;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}

.main-page-content>.know-more button:hover {
    background-color: #4444aa;
}

@media screen and (min-width: 600px) {
    .main-page-content>.know-more {
        padding: 30px 70px 10px 70px;
    }
}

@media screen and (min-width: 500px) {
    .main-page-content .proposals {
        height: calc(550px - 15vw);
    }
}