.footer.main-page-footer {
    padding: 30px 60px;
    box-sizing: border-box;
}

.footer.main-page-footer img {
    height: 100px;
    object-fit: contain;
}

.main-page-footer .first-row {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.footer.main-page-footer .contact {
    font-size: 12px;
    width: 100%;
    margin-right: 5%;
}

.footer.main-page-footer .social {
    min-width: 180px;
}

.footer.main-page-footer .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.footer.main-page-footer .social p {
    font-size: 12px;
}

.footer.main-page-footer .social a i {
    color: white;
    background-color: #3333aa;
    border-radius: 5px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.footer.main-page-footer .social a:first-of-type {
    margin-left: 0;
}

.footer.main-page-footer .second-row {
    border-top: #999999 1px solid;
    display: flex;
    margin-top: 40px;
    padding-top: 30px;
}

.footer.main-page-footer .second-row>div:nth-child(2) {
    margin: 0 calc(20px + 10vw)
}

.footer.main-page-footer .second-row p {
    font-size: 12px;
}

.footer.main-page-footer .first-row .separator {
    display: inline-block;
    width: 2.5px;
    height: 90%;
    margin: 5px 4% 5px 1%;
    background-color: #999999;
}

.footer-title {
    margin: 0;
    color: #5555ff;
    font-size: 12px;
    font-weight: bolder;
}

@media screen and (min-width: 600px) {
    .main-page-footer .first-row {
        flex-direction: row;
    }

    .footer.main-page-footer .contact {
        width: 50%;
    }
}