:root{
    --primary: #144dd8;
    --brand: #1a3783;
    --black: #383431;
    --optional: #104672;
    --pure-white: white;
    --light-grey: #f2f2f2;
    --light-red: #ffe8e8;
    --light-green: #dcf5ed;
    --dark-orange: #ffedc0;
    --dark-green: #cdffcd;
    --light-orange: #fff6e8;
    --dark-white: #fafafa;
    --light-blue: #e9efff;
}